# Database files
database/

# Query files
query/

# BLOSUM files
blosum/

# Binary files in the root folder
/swipe
/makeblastdb
/ssw_test
/projetprelim
/projet
/projetopt
/.vscode

*.vscode
# .txt files
/results.txt

# Object files
*.o

# .exe files
*.exe

# .txt files
*.txt

